<link href="/css/footer.css" rel="stylesheet" type="text/css">

<footer class="my-footer">
    <h4>เกี่ยวกับ</h4>
      <div class="footers">
        <div class="state">
           <ul>
                <i class="fa-solid fa-location-dot"></i>----------
                <li>Witthayalai Asia Akhane Alley,
                    <br/> Nong Khang Phlu, Nong Khaem, Bangkok 10160
                </li>
                <br/>
                <i class="fa-solid fa-location-dot"></i>----------
                <li> เพชรเกษม 106 หนองค้างพลู  <br/> 
                  เขตหนองแขม กรุงเทพมหานคร 10160
                </li>
           </ul>
        </div>
        <div class="about">
            <ul>
      
               <i class="fa-solid fa-w"></i>----------
                 <li>รับเขียนแบบ ลายปัก emb/pes/dst เขียนโดย โปรแกรม Wilcom</li>
                 <br/>
                 <i class="fa-solid fa-bezier-curve"></i>----------
                 <li>             
                    รับเขียนแบบ Ai Illustrator แยกสีแยกเลเยอร์
                    ใช้สำหรับ LASER สกรีน DTG DTF DFT SUB OFFSET และ ปรี้นทุกชนิด
                 </li>
                 <br/>
                 <i class="fa-solid fa-globe"></i>----------
                 <li>
                    รับเขียนเว็บ ระบบ Regit CRUD Front-end Back-end 
                    โดยระบบ HTML CSS JAVASCRIPT REACT.JS NODE.JS EXPRESS.JS MONGODB
                 </li>
             
         </div>
         <div class="links">
            <ul>
           
                 <li><i class="fa-solid fa-house-user"></i> <a href="/">หน้าแรก</a>   </li>
                 <br/>   
                 <li><i class="fa-solid fa-diagram-project"></i> <a href="/">สิ่งที่ค้นหา</a>   </li>
                 <br/>  
                 <li> <i class="fa-regular fa-address-card"></i>  <a href="/">เกี่ยวกับ</a>   </li>
                 <br/>   
                 <li><i class="fa-solid fa-paperclip"></i> <a href="/">ติดต่อ</a>   </li>
                 <br/>       
            </ul>
         </div>
        <div>
            <ul>
        
            <li><i class="fa-solid fa-phone"></i></i> <a href="tel:091-045 5990" target="_blank">โทร : 091-045 5990</a></li>     <br/>        
            <li><i class="fa-solid fa-envelope"></i> <a href="mailto:dxemb@dx-emb.com" target="_blank">Mail : dxemb@dx-emb.com</li>     <br/>
            <li><i class="fa-brands fa-line"></i> <a href="https://line.me/ti/p/-yPHknooDV" target="_blank">Line : Sweedsiter</li>     <br/>
            <li><i class="fa-brands fa-square-facebook"></i> <a href="https://www.facebook.com/DxEMB" target="_blank">Faceboock : DxEMB</li>     <br/>
        </ul>
        </div>
      </div>
      &copy; Copyright 2023 Dx-emb
</footer>