<link href="/css/Header.css" rel="stylesheet" type="text/css">

<nav>
  <div class="navbar">
    <div class="n-con nav-container">
        <input class="checkbox" type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>  
      <div class="logo">
        <input placeholder="ค้นหาข้อมูล" type="text" id="inputField" onchange="client()">      
        
        <h3>Dx-emb</h3>
      </div>
      <div class="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/manager">ระบบหลังบ้าน</a></li>   
        <li><a href="/addform">เพิ่มข้อมูล</a></li>  
        <li id="sss" ></li> 
        <p id="demo"></p>
      </div>      
    </div>
 
  </div>
</nav>