.manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
}
.manager table {
  width: 100%;
  table-layout: fixed;
}
.manager table a {
  color: black;
  padding-left: 8px;
}
.tbl-content {
  height: fit-content;
  overflow-x: auto;
}

.manager > table img {
  height: 80px;
}
/* Link change bar page */
.manager .Lchange {
  width: 100%;
  margin: 1rem 0rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid black;
}
.manager .Lchange > * {
  width: fit-content;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(175, 14, 14);
  padding: 10px 20px;
  border: 1px solid rgb(175, 14, 14);
  border-radius: 10px;
  margin-right: 0.6rem;
}
